Batch/NiFi/Apache-NiFi-Batch-Import_v2.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>3f5c972a-0163-1000-0152-6ea978122c19</groupId>
    <name>Apache-NiFi-Batch-Import_v2</name>
    <snippet>
        <connections>
            <id>d4882771-98ce-3710-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>88811285-62b6-37a0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>b1a5490b-5177-32e9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>17351857-dbd2-32ba-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>b1a5490b-5177-32e9-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>splits</selectedRelationships>
            <source>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>2281ac08-b6b4-3904-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>35cceced-20ac-3dd9-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>2281ac08-b6b4-3904-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>241e3650-9ebd-314b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4ca6d2c8-f7cf-389e-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>b7d4de16-faac-3505-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>6085898e-800e-3591-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4cc4967a-6a90-363d-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>293de10b-9d0c-37cc-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>88811285-62b6-37a0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6688f68e-fcac-3963-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>6085898e-800e-3591-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>88811285-62b6-37a0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>79402b4c-13cf-3f1d-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>f865950a-6a3c-3edf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>17e9b21f-a278-3b80-0000-000000000000</groupId>
                <id>293de10b-9d0c-37cc-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>88811285-62b6-37a0-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>11737.06910602485</x>
                <y>3415.5626718137883</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Trusted Hostname</key>
                        <value>
                            <name>Trusted Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>${custom-uri}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Trusted Hostname</key>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>InvokeHTTP</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>b1a5490b-5177-32e9-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>12311.620116223934</x>
                <y>3417.0001968288875</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <name>Maximum Capture Group Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <name>Enable Canonical Equivalence</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <name>Enable Case-insensitive Matching</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <name>Permit Whitespace and Comments in Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <name>Enable DOTALL Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <name>Enable Literal Parsing of the Pattern</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <name>Enable Multiline Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <name>Enable Unicode-aware Case Folding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <name>Enable Unicode Predefined Character Classes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <name>Enable Unix Lines Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>
                            <name>Include Capture Group 0</name>
                        </value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>
                            <name>extract-text-enable-repeating-capture-group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>custom-uri</key>
                        <value>
                            <name>custom-uri</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>1024</value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Include Capture Group 0</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>extract-text-enable-repeating-capture-group</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>custom-uri</key>
                        <value>(.*)</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExtractText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>b7d4de16-faac-3505-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>12315.071516488892</x>
                <y>3909.9605834759086</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>9ad7745b-4827-32b1-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>PutSQL</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>ba18ea8d-721c-3258-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>2.8304220748275384</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s:^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>INSERT INTO FlowFiles (uuid, filename, datetime, message)
VALUES ('${uuid}', '${filename}', '${datetime}', '${message}')</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Format INSERT Statement</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>f865950a-6a3c-3edf-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>11742.118504366324</x>
                <y>3912.5376015913826</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>F:\Projects\Apache NiFi\output</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>2281ac08-b6b4-3904-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>12306.985045349309</x>
                <y>3184.8983070338536</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Line Split Count</key>
                        <value>
                            <name>Line Split Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Fragment Size</key>
                        <value>
                            <name>Maximum Fragment Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header Line Count</key>
                        <value>
                            <name>Header Line Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Header Line Marker Characters</key>
                        <value>
                            <name>Header Line Marker Characters</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remove Trailing Newlines</key>
                        <value>
                            <name>Remove Trailing Newlines</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Line Split Count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Maximum Fragment Size</key>
                    </entry>
                    <entry>
                        <key>Header Line Count</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Header Line Marker Characters</key>
                    </entry>
                    <entry>
                        <key>Remove Trailing Newlines</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>SplitText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>splits</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitText</type>
        </processors>
        <processors>
            <id>241e3650-9ebd-314b-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>11726.501855568882</x>
                <y>3184.976102427196</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0b</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>http://localhost:8081/get/json
http://localhost:8081/get/csv</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 d</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Start Processing</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#00fa3f</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>293de10b-9d0c-37cc-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>11738.72226287562</x>
                <y>3670.8640332446444</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>
                            <name>filename</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>filename</key>
                        <value>file_${uuid}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>3eeb0ccc-d730-3ca4-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>250.70392203553092</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>b3683216-b5d5-3071-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>INSERT SQL</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>6085898e-800e-3591-0000-000000000000</id>
            <parentGroupId>17e9b21f-a278-3b80-0000-000000000000</parentGroupId>
            <position>
                <x>12312.780872343063</x>
                <y>3666.1248863303535</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.6.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>INSERT INTO TEST(DATA) VALUES('$1')</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
    </snippet>
    <timestamp>05/16/2018 18:46:19 MSK</timestamp>
</template>
